body {
  background: linear-gradient(
    0,
    rgb(255, 132, 255) 0,
    rgb(0, 21, 83) 66.67%,
    rgb(0, 21, 83) 100%
  );
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
main {
  width: 100%;
  flex: 1 0 auto;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Bungee Shade", cursive;
  font-size: 120px;
  margin-bottom: 40px;
  animation: blinking 10s infinite, blinking-container2 10s infinite;
  border-radius: 80px;
  padding: 20px 40px 40px;
}

.home-buttons {
  margin-top: 20px;
}
.home-buttons .button {
  display: block;
}
.button {
  margin: 15px;
  width: 240px;
  height: 50px;
  background: rgba(0, 48, 92, 0.611);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  border-radius: 30px;
  border: 2px solid rgb(141, 242, 255);
  transition: all ease-in-out 0.2s;
}
.button:hover {
  box-shadow: 0px 0px 10px rgb(71, 177, 253);
  transform: scale(1.1);
  cursor: pointer;
  animation: none !important;
}

#playBtn {
  animation: btnAnimation 1s infinite;
}

/* Difficulty */
.difficulty {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: inline-block;
  position: relative;
  width: 350px;
  height: 500px;
  margin: 100px 50px 50px;
  border: 2px solid rgb(207, 207, 207);
  border-radius: 20px;
  text-align: center;
  transition: all ease-in-out 0.2s;
}
.easy {
  background-color: rgba(153, 224, 255, 0.7);
}
.easy:hover {
  background-color: rgb(153, 224, 255);
  border: 2px solid rgb(192, 248, 255);
  box-shadow: 0px 0px 20px rgb(19, 228, 255);
}
.normal {
  background-color: rgb(255, 252, 170, 0.7);
}
.normal:hover {
  background-color: rgb(255, 252, 170);
  border: 2px solid rgb(255, 255, 191);
  box-shadow: 0px 0px 20px rgb(251, 255, 33);
}
.hard {
  background-color: rgb(255, 101, 101, 0.7);
}
.hard:hover {
  background-color: rgb(255, 101, 101);
  border: 2px solid rgb(255, 207, 207);
  box-shadow: 0px 0px 20px rgb(255, 18, 18);
}
.card:hover,
.card:hover .img {
  transform: scale(1.04);
  filter: none;
}
.card:hover .sub-easy {
  color: rgb(19, 228, 255);
}
.card:hover .sub-normal {
  color: rgb(251, 255, 33);
}
.card:hover .sub-hard {
  color: rgb(255, 18, 18);
}

.img {
  transition: all ease-in-out 0.2s;
  position: absolute;
  bottom: 36%;
  filter: brightness(40%);
}
.one {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 80px;
}
.two {
  width: 330px;
  height: 330px;
  position: absolute;
  left: 10px;
}
.three {
  width: 420px;
  height: 420px;
  position: absolute;
  left: -40px;
}

.text-container {
  color: white;
  background-color: rgb(29, 7, 66);
  border-radius: 0 0 20px 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.subtitle {
  margin-top: 10px;
  font-size: 26px;
  font-weight: bold;
}
.description {
  margin-top: 10px;
  font-size: 18px;
}

.difficulty-button {
  background-color: rgb(11, 12, 46);
  color: white;
  width: 140px;
  height: 40px;
  margin: 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  left: calc(50% - 75px);
  border: 2px solid rgb(250, 108, 255);
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}
.difficulty-button:hover {
  background-color: rgb(91, 27, 118);
  cursor: pointer;
}

/* Game */
.game {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  justify-content: center;
  text-align: center;
}

/* Add word */
.add-word {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-container {
  background-color: rgb(36, 9, 82);
  position: relative;
  border-radius: 25px;
  width: 45%;
  min-width: 400px;
  height: 50%;
  animation: blinking-container 10s infinite;
}
.input {
  width: 96%;
  background: none;
  padding: 20px;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
.input:focus {
  border: none;
  outline: none;
}
.input::placeholder {
  color: rgba(245, 245, 245, 0.603);
}
.input-info {
  color: rgb(149, 174, 212);
  text-align: start;
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.addWord-buttons {
  margin-top: 20px;
}

/* Footer */
footer {
  background-color: rgb(29, 7, 66);
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.media-container ul li {
  display: inline-block;
  width: 36px;
  margin: 0 5px;
  text-align: center;
}
.media-container ul li a {
  display: block;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 34px;
  transition: 0.2s;
}
.linkedin {
  background-color: rgb(57, 100, 255);
}
.linkedin:hover {
  background-color: rgb(56, 149, 255);
}
.github {
  background-color: rgb(70, 0, 113);
}
.github:hover {
  background-color: rgb(108, 35, 172);
}

.copyright {
  margin-top: 10px;
  font-size: 14px;
  font-family: "Orbitron", sans-serif;
}

/* Hide section */
.hide {
  display: none;
}

/* Alert */
.win-title {
  color: rgb(49, 163, 0);
  font-size: 40px;
  font-weight: bold;
}
.lose-title {
  color: rgb(196, 3, 3);
  font-size: 40px;
  font-weight: bold;
}
.alert-text {
  margin-top: 16px;
  font-size: 24px;
}

/* Animations */
@keyframes blinking {
  0% {
    color: rgb(176, 242, 250);
    text-shadow: 0px 0px 30px rgb(107, 196, 255);
  }
  39% {
    color: rgb(176, 242, 250);
    text-shadow: 0px 0px 30px rgb(107, 196, 255);
  }
  40% {
    color: rgb(0, 166, 255);
    text-shadow: 0px 0px 0px rgb(15, 204, 229);
  }
  42% {
    color: rgb(176, 242, 250);
    text-shadow: 0px 0px 30px rgb(107, 196, 255);
  }
  68% {
    color: rgb(176, 242, 250);
    text-shadow: 0px 0px 30px rgb(107, 196, 255);
  }
  69% {
    color: rgb(0, 166, 255);
    text-shadow: 0px 0px 0px rgb(15, 204, 229);
  }
  75% {
    color: rgb(0, 166, 255);
    text-shadow: 0px 0px 0px rgb(15, 204, 229);
  }
  76% {
    color: rgba(144, 242, 255, 0.8);
    text-shadow: 0px 0px 16px rgb(15, 204, 229);
  }
  77% {
    color: rgba(144, 242, 255, 0.8);
    text-shadow: 0px 0px 16px rgb(15, 204, 229);
  }
  78% {
    color: rgb(0, 166, 255);
    text-shadow: 0px 0px 0px rgb(15, 204, 229);
  }
  80% {
    color: rgb(0, 166, 255);
    text-shadow: 0px 0px 0px rgb(15, 204, 229);
  }
  81% {
    color: rgb(176, 242, 250);
    text-shadow: 0px 0px 30px rgb(107, 196, 255);
  }
  100% {
    color: rgb(176, 242, 250);
    text-shadow: 0px 0px 30px rgb(107, 196, 255);
  }
}
@keyframes blinking-container {
  0% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgb(15, 204, 229);
  }
  39% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgb(15, 204, 229);
  }
  40% {
    border: 2px solid rgb(0, 182, 207);
    box-shadow: 0px 0px 0px rgb(15, 204, 229);
  }
  42% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgb(15, 204, 229);
  }
  68% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgb(15, 204, 229);
  }
  69% {
    border: 2px solid rgba(144, 242, 255, 0.582);
    box-shadow: 0px 0px 0px rgb(15, 204, 229);
  }
  75% {
    border: 2px solid rgba(144, 242, 255, 0.582);
    box-shadow: 0px 0px 0px rgb(15, 204, 229);
  }
  76% {
    border: 2px solid rgba(144, 242, 255, 0.604);
    box-shadow: 0px 0px 15px rgb(15, 204, 229);
  }
  77% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 15px rgb(15, 204, 229);
  }
  78% {
    border: 2px solid rgba(144, 242, 255, 0.582);
    box-shadow: 0px 0px 0px rgb(15, 204, 229);
  }
  80% {
    border: 2px solid rgba(144, 242, 255, 0.582);
    box-shadow: 0px 0px 0px rgb(15, 204, 229);
  }
  81% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgb(15, 204, 229);
  }
  100% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgb(15, 204, 229);
  }
}
@keyframes blinking-container2 {
  0% {
    border: 10px double rgb(250, 176, 245);
    box-shadow: 0px 0px 30px rgb(229, 15, 229);
  }
  39% {
    border: 10px double rgb(250, 176, 245);
    box-shadow: 0px 0px 30px rgb(229, 15, 229);
  }
  40% {
    border: 10px double rgba(255, 144, 249, 0.582);
    box-shadow: 0px 0px 0px rgb(229, 15, 229);
  }
  42% {
    border: 10px double rgb(250, 176, 245);
    box-shadow: 0px 0px 30px rgb(229, 15, 229);
  }
  68% {
    border: 10px double rgb(250, 176, 245);
    box-shadow: 0px 0px 30px rgb(229, 15, 229);
  }
  69% {
    border: 10px double rgba(255, 144, 249, 0.582);
    box-shadow: 0px 0px 0px rgb(229, 15, 229);
  }
  75% {
    border: 10px double rgba(255, 144, 249, 0.582);
    box-shadow: 0px 0px 0px rgb(229, 15, 229);
  }
  76% {
    border: 10px double rgba(255, 144, 253, 0.7);
    box-shadow: 0px 0px 15px rgb(229, 15, 229);
  }
  77% {
    border: 10px double rgb(255, 144, 253, 0.7);
    box-shadow: 0px 0px 15px rgb(229, 15, 229);
  }
  78% {
    border: 10px double rgba(255, 144, 249, 0.582);
    box-shadow: 0px 0px 0px rgb(229, 15, 229);
  }
  80% {
    border: 10px double rgba(255, 144, 249, 0.582);
    box-shadow: 0px 0px 0px rgb(229, 15, 229);
  }
  81% {
    border: 10px double rgb(250, 176, 245);
    box-shadow: 0px 0px 30px rgb(229, 15, 229);
  }
  100% {
    border: 10px double rgb(250, 176, 245);
    box-shadow: 0px 0px 30px rgb(229, 15, 229);
  }
}
@keyframes btnAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: none;
  }
}
