body {
  background: linear-gradient(
    0,
    rgb(252, 103, 252) 0,
    rgb(0, 21, 83) 66.67%,
    rgb(0, 21, 83) 100%
  );
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
main {
  width: 100%;
  flex: 1 0 auto;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Orbitron", sans-serif;
  font-size: 110px;
  margin-bottom: 40px;
  animation: blinking 10s infinite, blinking-container2 10s infinite;
  border-radius: 80px;
  padding: 40px;
  padding-top: 20px;
  padding-left: 44px;
}

.home-buttons {
  margin-top: 20px;
}
.home-buttons .button {
  display: block;
}
.button {
  margin: 15px;
  width: 240px;
  height: 50px;
  background: rgba(0, 48, 92, 0.611);
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  color: white;
  border-radius: 30px;
  border: 2px solid rgb(141, 242, 255);
  transition: all ease-in-out 0.2s;
}
.button:hover {
  box-shadow: 0px 0px 10px rgb(71, 177, 253);
  transform: scale(1.1);
  cursor: pointer;
  animation: none !important;
}

#playBtn {
  animation: btnAnimation 1s infinite;
}

/* Difficulty */
.difficulty {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: inline-block;
  position: relative;
  width: 350px;
  height: 500px;
  margin: 100px 50px 50px;
  border: 2px solid rgb(207, 207, 207);
  border-radius: 20px;
  text-align: center;
  transition: all ease-in-out 0.2s;
}
.easy {
  background-color: rgba(153, 224, 255, 0.7);
}
.easy:hover {
  background-color: rgb(153, 224, 255);
  border: 2px solid rgb(192, 248, 255);
  box-shadow: 0px 0px 20px rgb(19, 228, 255);
}
.normal {
  background-color: rgb(255, 252, 170, 0.7);
}
.normal:hover {
  background-color: rgb(255, 252, 170);
  border: 2px solid rgb(255, 255, 191);
  box-shadow: 0px 0px 20px rgb(251, 255, 33);
}
.hard {
  background-color: rgb(255, 101, 101, 0.7);
}
.hard:hover {
  background-color: rgb(255, 101, 101);
  border: 2px solid rgb(255, 207, 207);
  box-shadow: 0px 0px 20px rgb(255, 18, 18);
}
.card:hover,
.card:hover .img {
  transform: scale(1.04);
  filter: none;
}
.card:hover .sub-easy {
  color: rgb(190, 247, 255);
  text-shadow: 0px 0px 4px rgb(0, 0, 151), 0px 0px 10px rgb(119, 244, 248);
}
.card:hover .sub-normal {
  color: rgb(254, 255, 200);
  text-shadow: 0px 0px 4px rgb(151, 143, 0), 0px 0px 10px rgb(248, 218, 119);
}
.card:hover .sub-hard {
  color: rgb(255, 199, 199);
  text-shadow: 0px 0px 4px rgb(151, 0, 0), 0px 0px 10px rgb(248, 119, 119);
}

.img {
  transition: all ease-in-out 0.2s;
  position: absolute;
  bottom: 36%;
  filter: brightness(40%);
}
.one {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 80px;
}
.two {
  width: 330px;
  height: 330px;
  position: absolute;
  left: 10px;
}
.three {
  width: 420px;
  height: 420px;
  position: absolute;
  left: -40px;
}

.text-container {
  color: white;
  background-color: rgb(29, 7, 66);
  border-radius: 0 0 20px 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.subtitle {
  margin-top: 10px;
  font-size: 26px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}
.description {
  margin-top: 10px;
  font-size: 18px;
}

.difficulty-button {
  background-color: rgb(11, 12, 46);
  color: white;
  width: 140px;
  height: 40px;
  margin: 20px;
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  left: calc(50% - 75px);
  border: 2px solid rgb(250, 108, 255);
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}
.difficulty-button:hover {
  background-color: rgb(91, 27, 118);
  cursor: pointer;
}

/* Game */
.game {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  justify-content: center;
  text-align: center;
}

/* Add word */
.add-word {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-container {
  background-color: rgb(36, 9, 82);
  position: relative;
  border-radius: 25px;
  width: 45%;
  min-width: 400px;
  height: 30%;
  animation: blinking-container 10s infinite;
}
.input {
  width: 96%;
  background: none;
  padding: 18px;
  border: none;
  color: rgb(227, 254, 255);
  text-shadow: 0px 0px 4px rgb(151, 0, 151), 0px 0px 10px rgb(248, 119, 248);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
.input:focus {
  border: none;
  outline: none;
}
.input::placeholder {
  color: rgba(245, 245, 245, 0.603);
  text-shadow: none;
}
.input-info {
  color: rgb(149, 174, 212);
  text-align: start;
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.addWord-buttons {
  margin-top: 60px;
}

/* Footer */
footer {
  background-color: rgb(29, 7, 66);
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.media-container li {
  display: inline-block;
  width: 36px;
  margin: 0 5px;
  text-align: center;
}
.media-container li a {
  display: block;
  color: #ffffff;
  border: 1px solid #95f3ff;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 34px;
  transition: 0.2s;
}

.media-container li a:hover {
  background-color: rgb(42, 92, 145);
}

.copyright {
  margin-top: 10px;
  font-size: 12px;
  font-family: "Orbitron", sans-serif;
  text-shadow: 0px 0px 4px rgb(248, 119, 248), 0px 0px 1px rgb(151, 0, 151);
}

/* Hide section */
.hide {
  display: none;
}

/* Alert */
.win-title {
  color: rgb(222, 255, 207);
  text-shadow: 0px 0px 20px rgb(29, 251, 0), 0px 0px 4px rgb(2, 97, 0);
  font-size: 34px;
  font-family: "Orbitron", sans-serif;
}
.lose-title {
  color: rgb(255, 207, 207);
  text-shadow: 0px 0px 20px rgb(251, 0, 0), 0px 0px 4px rgb(151, 0, 0);
  font-size: 34px;
  font-family: "Orbitron", sans-serif;
}
.alert-text {
  margin-top: 16px;
  font-size: 22px;
}
.alert-text b {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.alert-button {
  width: 100px;
  padding: 8px;
  color: white;
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  background-color: rgb(88, 44, 129);
  border-radius: 4px;
  border: none;
  outline: none;
  transition: all ease-in-out 0.2s;
}
.alert-button:hover {
  cursor: pointer;
  background-color: rgb(121, 62, 176);
}

/* Animations */

@keyframes blinking {
  0% {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgb(229, 167, 231), -1px 1px 1px rgb(229, 167, 231),
    -2px 2px 1px rgb(229, 167, 231), -3px 3px 1px rgb(229, 167, 231),
    -4px 4px 1px rgb(229, 167, 231), -5px 5px 1px rgb(229, 167, 231),
    -6px 6px 1px rgb(229, 167, 231), -7px 7px 1px rgb(229, 167, 231),
    -8px 8px 1px rgb(229, 167, 231), -9px 9px 10px #ff00ff,
    -10px 10px 50px rgb(255, 111, 255);
  }
  39% {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgb(229, 167, 231), -1px 1px 1px rgb(229, 167, 231),
    -2px 2px 1px rgb(229, 167, 231), -3px 3px 1px rgb(229, 167, 231),
    -4px 4px 1px rgb(229, 167, 231), -5px 5px 1px rgb(229, 167, 231),
    -6px 6px 1px rgb(229, 167, 231), -7px 7px 1px rgb(229, 167, 231),
    -8px 8px 1px rgb(229, 167, 231), -9px 9px 10px #ff00ff,
    -10px 10px 50px rgb(255, 111, 255);
  }
  40% {
    color: rgb(188, 127, 197);
    text-shadow: 0px 0px 4px rgb(160, 108, 168), -1px 1px 1px rgb(160, 108, 168),
    -2px 2px 1px rgb(160, 108, 168), -3px 3px 1px rgb(160, 108, 168),
    -4px 4px 1px rgb(160, 108, 168), -5px 5px 1px rgb(160, 108, 168),
    -6px 6px 1px rgb(160, 108, 168), -7px 7px 1px rgb(160, 108, 168),
    -8px 8px 1px rgb(160, 108, 168);
  }
  42% {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgb(229, 167, 231), -1px 1px 1px rgb(229, 167, 231),
    -2px 2px 1px rgb(229, 167, 231), -3px 3px 1px rgb(229, 167, 231),
    -4px 4px 1px rgb(229, 167, 231), -5px 5px 1px rgb(229, 167, 231),
    -6px 6px 1px rgb(229, 167, 231), -7px 7px 1px rgb(229, 167, 231),
    -8px 8px 1px rgb(229, 167, 231), -9px 9px 10px #ff00ff,
    -10px 10px 50px rgb(255, 111, 255);
  }
  68% {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgb(229, 167, 231), -1px 1px 1px rgb(229, 167, 231),
    -2px 2px 1px rgb(229, 167, 231), -3px 3px 1px rgb(229, 167, 231),
    -4px 4px 1px rgb(229, 167, 231), -5px 5px 1px rgb(229, 167, 231),
    -6px 6px 1px rgb(229, 167, 231), -7px 7px 1px rgb(229, 167, 231),
    -8px 8px 1px rgb(229, 167, 231), -9px 9px 10px #ff00ff,
    -10px 10px 50px rgb(255, 111, 255);
  }
  69% {
    color: rgb(188, 127, 197);
    text-shadow: 0px 0px 4px rgb(160, 108, 168), -1px 1px 1px rgb(160, 108, 168),
    -2px 2px 1px rgb(160, 108, 168), -3px 3px 1px rgb(160, 108, 168),
    -4px 4px 1px rgb(160, 108, 168), -5px 5px 1px rgb(160, 108, 168),
    -6px 6px 1px rgb(160, 108, 168), -7px 7px 1px rgb(160, 108, 168),
    -8px 8px 1px rgb(160, 108, 168);
  }
  75% {
    color: rgb(188, 127, 197);
    text-shadow: 0px 0px 4px rgb(160, 108, 168), -1px 1px 1px rgb(160, 108, 168),
    -2px 2px 1px rgb(160, 108, 168), -3px 3px 1px rgb(160, 108, 168),
    -4px 4px 1px rgb(160, 108, 168), -5px 5px 1px rgb(160, 108, 168),
    -6px 6px 1px rgb(160, 108, 168), -7px 7px 1px rgb(160, 108, 168),
    -8px 8px 1px rgb(160, 108, 168);
  }
  76% {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgb(229, 167, 231), -1px 1px 1px rgb(229, 167, 231),
    -2px 2px 1px rgb(229, 167, 231), -3px 3px 1px rgb(229, 167, 231),
    -4px 4px 1px rgb(229, 167, 231), -5px 5px 1px rgb(229, 167, 231),
    -6px 6px 1px rgb(229, 167, 231), -7px 7px 1px rgb(229, 167, 231),
    -8px 8px 1px rgb(229, 167, 231), -9px 9px 10px #ff00ff,
    -10px 10px 50px rgb(255, 111, 255);
  }
  77% {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgb(229, 167, 231), -1px 1px 1px rgb(229, 167, 231),
    -2px 2px 1px rgb(229, 167, 231), -3px 3px 1px rgb(229, 167, 231),
    -4px 4px 1px rgb(229, 167, 231), -5px 5px 1px rgb(229, 167, 231),
    -6px 6px 1px rgb(229, 167, 231), -7px 7px 1px rgb(229, 167, 231),
    -8px 8px 1px rgb(229, 167, 231), -9px 9px 10px #ff00ff,
    -10px 10px 50px rgb(255, 111, 255);
  }
  78% {
    color: rgb(188, 127, 197);
    text-shadow: 0px 0px 4px rgb(160, 108, 168), -1px 1px 1px rgb(160, 108, 168),
    -2px 2px 1px rgb(160, 108, 168), -3px 3px 1px rgb(160, 108, 168),
    -4px 4px 1px rgb(160, 108, 168), -5px 5px 1px rgb(160, 108, 168),
    -6px 6px 1px rgb(160, 108, 168), -7px 7px 1px rgb(160, 108, 168),
    -8px 8px 1px rgb(160, 108, 168);
  }
  80% {
    color: rgb(188, 127, 197);
    text-shadow: 0px 0px 4px rgb(160, 108, 168), -1px 1px 1px rgb(160, 108, 168),
    -2px 2px 1px rgb(160, 108, 168), -3px 3px 1px rgb(160, 108, 168),
    -4px 4px 1px rgb(160, 108, 168), -5px 5px 1px rgb(160, 108, 168),
    -6px 6px 1px rgb(160, 108, 168), -7px 7px 1px rgb(160, 108, 168),
    -8px 8px 1px rgb(160, 108, 168);
  }
  81% {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgb(229, 167, 231), -1px 1px 1px rgb(229, 167, 231),
    -2px 2px 1px rgb(229, 167, 231), -3px 3px 1px rgb(229, 167, 231),
    -4px 4px 1px rgb(229, 167, 231), -5px 5px 1px rgb(229, 167, 231),
    -6px 6px 1px rgb(229, 167, 231), -7px 7px 1px rgb(229, 167, 231),
    -8px 8px 1px rgb(229, 167, 231), -9px 9px 10px #ff00ff,
    -10px 10px 50px rgb(255, 111, 255);
  }
  100% {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgb(229, 167, 231), -1px 1px 1px rgb(229, 167, 231),
    -2px 2px 1px rgb(229, 167, 231), -3px 3px 1px rgb(229, 167, 231),
    -4px 4px 1px rgb(229, 167, 231), -5px 5px 1px rgb(229, 167, 231),
    -6px 6px 1px rgb(229, 167, 231), -7px 7px 1px rgb(229, 167, 231),
    -8px 8px 1px rgb(229, 167, 231), -9px 9px 10px #ff00ff,
    -10px 10px 50px rgb(255, 111, 255);
  }
}
@keyframes blinking-container {
  0% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgb(15, 204, 229);
  }
  39% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgb(15, 204, 229);
  }
  40% {
    border: 2px solid rgb(0, 182, 207);
    box-shadow: none;
  }
  42% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgb(15, 204, 229);
  }
  68% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgb(15, 204, 229);
  }
  69% {
    border: 2px solid rgba(144, 242, 255, 0.582);
    box-shadow: none;
  }
  75% {
    border: 2px solid rgba(144, 242, 255, 0.582);
    box-shadow: none;
  }
  76% {
    border: 2px solid rgba(144, 242, 255, 0.604);
    box-shadow: 0px 0px 15px rgb(15, 204, 229);
  }
  77% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 15px rgb(15, 204, 229);
  }
  78% {
    border: 2px solid rgba(144, 242, 255, 0.582);
    box-shadow: none;
  }
  80% {
    border: 2px solid rgba(144, 242, 255, 0.582);
    box-shadow: none;
  }
  81% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgb(15, 204, 229);
  }
  100% {
    border: 2px solid rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgb(15, 204, 229);
  }
}

@keyframes blinking-container2 {
  0% {
    border: 10px double rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgba(107, 196, 255), 0px 0px 10px rgb(8, 0, 116),
      inset 0px 0px 30px rgba(107, 196, 255), inset 0px 0px 10px rgb(8, 0, 116);
  }
  39% {
    border: 10px double rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgba(107, 196, 255), 0px 0px 10px rgb(8, 0, 116),
      inset 0px 0px 30px rgba(107, 196, 255), inset 0px 0px 10px rgb(8, 0, 116);
  }
  40% {
    border: 10px double rgba(144, 246, 255, 0.582);
    box-shadow: none;
  }
  42% {
    border: 10px double rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgba(107, 196, 255), 0px 0px 10px rgb(8, 0, 116),
      inset 0px 0px 30px rgba(107, 196, 255), inset 0px 0px 10px rgb(8, 0, 116);
  }
  68% {
    border: 10px double rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgba(107, 196, 255), 0px 0px 10px rgb(8, 0, 116),
      inset 0px 0px 30px rgba(107, 196, 255), inset 0px 0px 10px rgb(8, 0, 116);
  }
  69% {
    border: 10px double rgba(144, 246, 255, 0.582);
    box-shadow: none;
  }
  75% {
    border: 10px double rgba(144, 246, 255, 0.582);
    box-shadow: none;
  }
  76% {
    border: 10px double rgba(144, 246, 255, 0.7);
    box-shadow: 0px 0px 15px rgba(107, 196, 255),
      inset 0px 0px 15px rgba(107, 196, 255);
  }
  77% {
    border: 10px double rgb(144, 246, 255, 0.7);
    box-shadow: 0px 0px 15px rgba(107, 196, 255),
      inset 0px 0px 15px rgba(107, 196, 255);
  }
  78% {
    border: 10px double rgba(144, 246, 255, 0.582);
    box-shadow: none;
  }
  80% {
    border: 10px double rgba(144, 246, 255, 0.582);
    box-shadow: none;
  }
  81% {
    border: 10px double rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgba(107, 196, 255), 0px 0px 10px rgb(8, 0, 116),
      inset 0px 0px 30px rgba(107, 196, 255), inset 0px 0px 10px rgb(8, 0, 116);
  }
  100% {
    border: 10px double rgb(176, 242, 250);
    box-shadow: 0px 0px 30px rgba(107, 196, 255), 0px 0px 10px rgb(8, 0, 116),
      inset 0px 0px 30px rgba(107, 196, 255), inset 0px 0px 10px rgb(8, 0, 116);
  }
}
@keyframes btnAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: none;
  }
}
